mixin header
    header.header 
        .container 
            .header__nav
                a(href="index.html" data-href="index.html" data-link="home").header__logo 
                    img(src="@img/logo.svg", alt="" draggable="false") 
                ul.header__list 
                    li.header__li 
                        a(href="index.html" data-href="index.html" data-link="home").header__link.btn-anim
                            p.btn-anim__p HOME 
                            p.btn-anim__p HOME 
                    li.header__li 
                        a(href="works.html" data-href="works.html" data-link="works").header__link.btn-anim 
                            p.btn-anim__p WORK 
                            p.btn-anim__p WORK 
                    li.header__li 
                        a(href="/#prices" data-href="/#prices" data-link="hesh").header__link.btn-anim 
                            p.btn-anim__p PRICES 
                            p.btn-anim__p PRICES 
                    li.header__li 
                        a(href="#" data-href="#" data-link="contacts").header__link.btn-anim 
                            p.btn-anim__p CONTACT US 
                            p.btn-anim__p CONTACT US 
                button(type="button").open-popup.header__button 
                    .btn-anim 
                        p.btn-anim__p Order a service 
                        p.btn-anim__p Order a service 