mixin moreCases()
    section.moreCases 
        .container
            .moreCases-title
                h2.sf More cases
                p.moreCases-subtitle We work with both small startups and large corporations.
            .case.case-1
                .case-img
                    img(src="@img/cases-image-1.png", alt="" draggable="false")
                h4.case-title.sf Trading Platform
                ul.case-ul
                    li 
                        p.active Trading
                    li 
                        p NFT
                    li 
                        p Market Place
            .case.case-2
                .case-img
                    img(src="@img/cases-image-2.png", alt="" draggable="false")
                h4.case-title.sf W Downtown
                ul.case-ul
                    li 
                        p.active Real Estate 
                    li 
                        p NFT
                    li 
                        p Market Place
