mixin morecases()
    section.morecases  
        .container
            .morecases-left
                .case.case-1
                    a(href="#").case-img
                        img(src="@img/cases-image-1.png", alt="" draggable="false")
                    h4.case-title.sf Trading Platform
                    ul.case-ul
                        li 
                            p.active Trading
                        li 
                            p NFT
                        li 
                            p Market Place
            .morecases-right
                .morecases-title
                    h2.sf More cases
                    p.morecases-subtitle We work with both small startups and large corporations.
                .case.case-2
                    a(href="#").case-img
                        img(src="@img/cases-image-1.png", alt="" draggable="false")
                    h4.case-title.sf Trading Platform
                    ul.case-ul
                        li 
                            p.active Trading
                        li 
                            p NFT
                        li 
                            p Market Place
