mixin reviews()
    section.reviews 
        .container
            p.reviews-subtitle.sf Reviews
            h2.reviews-title.sf What do <span>people say</span> about us?
            .swiper.reviews-swiper 
                .swiper-wrapper 
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio
                    .swiper-slide 
                        img(src="@img/quote.svg", alt="", draggable="false")
                        p.reviews-p Phenomenon Studio has demonstrated great work. The visual look and feel of the new site architecture conveys a mature and professional aesthetic. Their agile communication has allowed for continuous feedback, which has led to a successful collaboration.
                        .reviews__profile
                            .reviews__profile-ava
                                img(src="@img/avatarka.png", alt="")
                            .reviews__profile-p
                                p Oliver Twist
                                p GEO Soud Studio