extends components/layout.pug

block ceo
    title Home

block content
    main.main(data-barba="container" data-barba-namespace="home")
<<<<<<< HEAD
        .container
=======
        .container 
>>>>>>> 2a3db267567757b589505a5776b99e43e92f7098
            h1 home