extends components/layout.pug

block ceo
    title Home

block content
    main.main(data-barba="container" data-barba-namespace="home")
<<<<<<< HEAD
        .container 
            h1 home
=======
        include components/moreCases.pug 
        +moreCases 
>>>>>>> refs/remotes/origin/main
